name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ main ]

jobs:

  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.2
      with:
        fetch-depth: 0

    - uses: actions/setup-java@v5.2.0
      with:
        java-version: '21'
        distribution: temurin

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5.0.0

    - name: Build & Test
      run: ./gradlew check sonar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: Report Tests
      uses: dorny/test-reporter@v2.5.0
      if: success() || failure()
      with:
        name: Tests Results
        path: "**/build/test-results/*/*.xml"
        reporter: java-junit
