name: Publish Snapshot

on:
  push:
    branches: [ main ]

permissions:
  contents: write

concurrency:
  group: publish-snapshot-${{github.ref_name}}
  cancel-in-progress: true

jobs:

  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.2

    - uses: actions/setup-java@v5.2.0
      with:
        java-version: '21'
        distribution: temurin

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5.0.0

    - name: Build Artifacts & Documentation
      run: ./gradlew build dokkaGeneratePublicationHtml -x test

    - name: Publish Maven Artifacts (Snapshot)
      run: ./gradlew publishToMavenCentral
      env:
        ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.OSSRH_TOKEN_USER }}
        ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.OSSRH_TOKEN_PASS }}

    - name: Publish Documentation
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        clean: false
        folder: build/dokka
